{% extends "base/forms-base.html" %}
{% block nav %}
    {% include "includes/navBar.html" %}
{% endblock nav %}
{% block sidebar_sub %}
    {% include "includes/admin/sidebar_sub.html" %}
{% endblock sidebar_sub %}
{% block main_content %}
    <div class="card card-primary" style="height: 530px;overflow: auto">
        <div class="card-header">
            <h5 class="m-0 text-center">Analytical Method Register</h5>
        </div>
        <form onsubmit="return false" id="analyticalmethod">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Analytical Name</label>
                                <input type="text" class="form-control" id="name" placeholder="analytical method name">
                            </div>
                            <div class="form-group">
                                <label for="report">Drag and drop report here:</label>
                                <div class="file-drop-area">
                                    <input type="file" id="notes" class="form-control-file" name="report">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="5" placeholder="description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

