{% extends "base/admin.html" %}
{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#" id="modalTrigger">Upload CSV</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

{% endblock content_header %}
{% block main_content %}
    <div class="card">
        <div class="card-header">

        </div>
    </div>
{% endblock %}

{% block nav %}
    {% include "includes/navBar.html" %}
{% endblock nav %}

{% block sidebar_sub %}
    {% include "includes/admin/sidebar_sub.html" %}
{% endblock sidebar_sub %}